Body{
  Background-color: black;
  }
  .Title{
  color:white; 
  Font-family: sans-serif;
  font-size: 35px;
  }
  .Retro-Bowl{
  Font-family: sans-serif;
  border-radius: 10px;
  border: none;
  height: 150px;
  width: 110px;
  cursor: pointer;
  box-shadow: 0px 0px 17px 10px red;
  transition: 1s;
  background-color: rgb(80,143,36,255); 
  font-size: 20px;
  }
  .Retro-Bowl:hover{
  transform:scale(1.1,1.1);
  box-shadow: 0px 0px 15px 10px blue;
  }
  .Credits{
  float: left; 
  margin-top: 30px;
  cursor: pointer; 
  border: none;
  width: 110px;
  height: 40px;
  text-align: center;
  border-radius: 10px;
  font-size: 25px;
  transition: .5s;
  box-shadow: 0px 0px 20px 5px white;
  }
  .Credits:hover{
  transform:scale(1.1,1.1);
  box-shadow: 0px 0px 20px 5px white;
  font-size: 25px;
  
  }
  .Snow-Rider {
  border:none ;
  border-radius: 10px;
  margin-left: 28px;
  box-shadow: 0px 0px 17px 10px red;
  width: 110px;
  height: 150px;
  font-size: 20px;
  transition: 1s; 
  cursor: pointer;
  }
  .Snow-Rider:hover{
  transform:scale(1.1,1.1);
  box-shadow: 0px 0px 15px 10px blue;
  }
  .Doge-Miner{
  Width: 110px;
  height: 150px;
  margin-left: 28px;
  border: none;
  border-radius: 10px; 
  transition: 1s;
  background-color: rgba(254,238,189,255);
  box-shadow: 0px 0px 17px 10px red;
  Font-size:18px;
  }
  .Doge-Miner:hover {
  box-shadow: 0px 0px 15px 10px blue;
  transform:scale(1.1,1.1);
  cursor: pointer;
  }
  .fort{
  Width: 110px;
  height: 150px;
  margin-left: 28px;
  border: none;
  border-radius: 10px; 
  transition: 1s;
  background-color: rgb(80,198,243);
  box-shadow: 0px 0px 17px 10px red;
  Font-size:24px;
  }
  .fort:hover{
  box-shadow: 0px 0px 15px 10px blue;
  transform:scale(1.1,1.1);
  cursor: pointer;
  }
  .fnaf1{
  Width: 110px;
  height: 150px;
  margin-left: 28px;
  border: none;
  border-radius: 10px; 
  transition: 1s;
  background-color: black;
  box-shadow: 0px 0px 17px 10px red;
  Font-size:24px;
  color: white;
  }
  .fnaf1:hover{
  box-shadow: 0px 0px 15px 10px blue;
  transform:scale(1.1,1.1);
  cursor: pointer;
  }
  .mopeio {
  Width: 110px;
  height: 150px;
  margin-left: 28px;
  border: none;
  border-radius: 10px; 
  transition: 1s;
  background-color: rgb(62,187,85);
  box-shadow: 0px 0px 17px 10px red;
  Font-size:24px;
  }
  .mopeio:hover{
  box-shadow: 0px 0px 15px 10px blue;
  transform:scale(1.1,1.1);
  cursor: pointer;
  }
  .Slope{
  Width: 110px; 
  height: 150px;
  border: none;
  border-radius: 10px; 
  transition: 1s;
  background-color: black;
  box-shadow: 0px 0px 17px 10px red;
  Font-size:26px;
  color:white;
  margin-left: 28px; 
  }
  .Slope:hover{
  box-shadow: 0px 0px 15px 10px blue;
  transform:scale(1.1,1.1);
  cursor: pointer;
  }
  .Minecraft{
  Width: 110px;
  height: 150px;
  border: none;
  border-radius: 10px; 
  transition: 1s;
  background-color: #1bb710;
  box-shadow: 0px 0px 17px 10px red;
  Font-size:23px;}
  .Minecraft:hover {
  box-shadow: 0px 0px 15px 10px blue;
  transform:scale(1.1,1.1);
  cursor: pointer;
  }
  .Scooperia{
  Width: 110px;
  
  height: 150px;
  margin-left: 28px;
  border: none;
  border-radius: 10px; 
  transition: 1s;
  background-color: #8a67bc;
  box-shadow: 0px 0px 17px 10px red;
  Font-size:20px;
  }
  .Scooperia:hover{
  box-shadow: 0px 0px 15px 10px blue;
  transform:scale(1.1,1.1);
  cursor: pointer;}
  .Pizzeria{
  Width: 110px;
  height: 150px;
  margin-left: 28px;
  border: none;
  border-radius: 10px; 
  transition: 1s;
  background-color: #2c4c15;
  box-shadow: 0px 0px 17px 10px red;
  Font-size:22px;
  color: white;
  }
  .Pizzeria:hover{
  box-shadow: 0px 0px 15px 10px blue;
  transform:scale(1.1,1.1);
  cursor: pointer;}
  .Krunker{
  Width: 110px; 
  height: 150px;
  margin-left: 28px;
  border: none;
  border-radius: 10px; 
  transition: 1s;
  background-color: rgb(130,140,152);
  box-shadow: 0px 0px 17px 10px red;
  Font-size:22px;
  color: black;
  }
  .Krunker:hover{
  box-shadow: 0px 0px 15px 10px blue;
  transform:scale(1.1,1.1);
  cursor: pointer;
  }
  .Overit{
  Width: 110px;
  margin-top:25px; 
  height: 150px;
  margin-left: 28px;
  border: none;
  border-radius: 10px; 
  transition: 1s;
  background-color: rgb(255,255,255);
  box-shadow: 0px 0px 17px 10px red;
  Font-size:18px;
  color: black;
  }
  .Drift {
  Width: 110px;
  margin-top:25px; 
  height: 150px;
  margin-left: 28px;
  border: none;
  border-radius: 10px; 
  transition: 1s;
  background-color: #1c0f18;
  box-shadow: 0px 0px 17px 10px red;
  Font-size:20px;
  color: white;
  }
  img{
  border-radius: 10px;
  }
  .Subway{
  Width: 110px;
  margin-top:25px; 
  height: 150px;
  margin-left: 28px;
  border: none;
  border-radius: 10px; 
  transition: 1s;
  background-color: #130131;
  box-shadow: 0px 0px 17px 10px red;
  Font-size:20px;
  color: white;
  }
  .Hole{ 
  Width: 110px;
  margin-top:25px; 
  height: 150px;
  margin-left: 28px;
  border: none;
  border-radius: 10px; 
  transition: 1s;
  background-color: black;
  box-shadow: 0px 0px 17px 10px red;
  Font-size:25px;
  color: white;
  }
  .OvO{
  Width: 110px;
  margin-top:25px; 
  height: 150px;
  margin-left: 28px;
  border: none;
  border-radius: 10px; 
  transition: 1s;
  background-color: black;
  box-shadow: 0px 0px 17px 10px red;
  Font-size:25px;
  color: white;
  }
  .Shell{
  Width: 110px;
  margin-top:25px; 
  height: 150px;
  margin-left: 28px;
  border: none;
  border-radius: 10px; 
  transition: 1s;
  box-shadow: 0px 0px 17px 10px red;
  Font-size:18px;
  }